@import "theming";
@import "vars";


/*#region Reg/login */
.reglo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;

    H5 {
        font-size: 115%;
        color: #4a5159;
        display: flex;
        justify-content: center;
    }

    .brd {
        border: 1px #F1F1F1;
        border-radius: 3px;
        background: #FFFFFF;
        padding: 28px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    & > img {
        margin-bottom: 24px;
    }

    span {
        grid-template-rows: 32px;
        grid-row-gap: 8px;

        & > * {
            width: 100%;
            height: 100%;
        }
    }
}


/*#endregion*/

/*#region HEADER */

header {
    width: calc(100% - #{$sidebar_width});
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 0 0 0 10px;
    margin-left: $sidebar_width;

    @include themify {
        background: $color-sidebar;
    }

    * {
        margin-top: auto;
        margin-bottom: auto;
    }

    .header_right {
        margin-left: auto;
        margin-right: 60px;
        display: flex;

        & > * {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: none;
            margin-left: 10px;
        }
    }

    #header_text {
        margin-left: 32px;
        margin-top: 16px;
        font-size: 24px;
        color: #B1B1B1;
    }

    #avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: #FF8C21;
        color: #FFF;
        font-size: 18px;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    #theme_switch {
        outline: none;

        @include themify {
            background: $color-secondary;
            color: $color-primary;

            background-image: url("../img/#{$selected-theme}.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 75%;
        }
    }
}

/*#endregion*/

/*#region SIDEBAR */
.sidebar {
    width: $sidebar_width;
    height: 100%;
    position: fixed;
    z-index: 10;

    @include themify {
        background: $color-sidebar;
    }

    .ui.category.search {
        @include themify {
            input {
                background: $color-secondary;
                color: $color-primary;
            }

            .search.icon {
                color: $color-primary;
            }
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 230px;

    a {
        justify-self: center;
        background-image: url("../img/dkcontrol.svg");
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        width: 100%;
        height: 40px;
    }
}

.sidebar_buttons {
    margin-top: 10px;
    list-style-type: none;

    li {
        height: 50px;
        display: flex;
        align-items: center;

        border-bottom: none;
        width: 100%;
    }

    ul {
        width: 100%;
    }

    li:hover, #search:hover {
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    }

    li i, li img {
        width: 20px;
        height: 20px;
        margin-right: 20px;
        margin-left: 32px;
    }

    .button_left_panel {
        width: 100%;
        color: inherit;
        display: grid;
        grid-template-columns: 72px 1fr;
    }

    .add_button_left_panel {
        display: block;
        width: 60px;
        font-size: 18px;
        text-align: center;
        margin-left: auto;

        @include themify {
            color: $color-sub;
        }
    }
}

/*#endregion*/

/*#region sessions*/
.session_info_block {

    .header_block {
        background: #1ABC9C;
    }

    .session_info_content {
        width: calc(100% - 40px);

        .info_list li {
            margin-bottom: 10px;
            border-bottom: none;
            padding: 10px;
            list-style-type: none;
        }
    }
}


/*#endregion*/

/*#region Group*/
.timetable {

    .header_block, .mini-block.activated {
        background: #ff9200;
    }

    .mini-block {
        background: #FFFFFF;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        width: 230px;
        height: 100px;
        margin: 5px 10px 5px 10px;
        text-align: center;
        vertical-align: middle;

        h3:last-child {
            margin-top: 0;
            color: #FFFFFF;
        }

        h3:first-child {
            margin-top: 30px;
            margin-bottom: 0;
            color: #FFFFFF;
        }
    }
}

/*#endregion*/


#customers {
    border-collapse: collapse;
    width: calc(100% - 40px);

    td, th {
        padding: 8px;
    }

    tr:hover {
        background-color: #ddd;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
}

#customers tr:nth-child(even), #info li:nth-child(even) {
    background-color: #f2f2f2;
}


#search {
    width: calc(100% - 30px);
    height: 50px;
    padding-left: 30px;
    border: none;
    font-size: 14px;
    margin-top: 65px;
    background-color: #f2f2f2;
}
