{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}{{ student }}{% endblock %}
{% block header_name %}
    <div class="ui breadcrumb" style="margin: 0 0 20px 0">
        <a class="section">Ученики</a>
        <div class="divider"> /</div>
        <div class="active section">{{ student.first_name }} {{ student.last_name }}</div>
    </div>
{% endblock %}
{% block content %}
    <div class="basic-info-block block shadow" style="height: 510px">
        <form method="get">
            <div class="header_block editable">
                <p>Информация о ученике</p>
                <button class="ui icon basic inverted small button edit">
                    <i class="edit icon"></i>
                </button>
            </div>
            <div style="padding: 25px" class="content-block">
                <h3 class="item">
                    <div class="content edit fio">
                        <div class="description">{{ student.last_name }} {{ student.first_name }} {{ student.patronymic }}</div>
                    </div>
                </h3>
                <div class="ui list">
                    <a class="item">
                        <i class="graduation cap icon"></i>
                        <div class="content">
                            <div class="header">Группы</div>
                        </div>
                    </a>
                    <div class="ui horizontal segments">
                        {% for group_elem in student.groups.all %}
                            <a class="ui segment" href="{% url 'group' group_elem.id %}"
                               style="text-decoration: none; color: inherit;">
                                <p>{{ group_elem }}</p>
                            </a>
                        {% endfor %}
                    </div>
                    <a class="item">
                        <i class="calendar alternate icon"></i>
                        <div class="content edit date" data-name="birthday">
                            <div class="header">Дата рождения</div>
                            <div class="description"
                                 data-date="{{ student.birthday.isoformat }}">{{ student.birthday|check }}</div>
                        </div>
                    </a>
                    <a class="item">
                        <i class="building icon"></i>
                        <div class="content edit string" data-name="school">
                            <div class="header">Школа</div>
                            <div class="description">{{ student.school|check }}</div>
                        </div>
                    </a>
                    <a class="item">
                        <i class="venus mars icon"></i>
                        <div class="content edit select" data-name="gender">
                            <div class="header">Пол</div>
                            <div class="description" data-options="Мужской,Женский">{{ student.gender|check }}</div>
                        </div>
                    </a>
                    <a class="item">
                        <i class="child icon"></i>
                        <div class="content">
                            <div class="header">Родители</div>
                        </div>
                    </a>
                    <div class="ui horizontal segments">
                        {% for parent in student.parents.all %}
                            <a class="ui segment" href="{% url 'parent' parent.id %}"
                               style="text-decoration: none; color: inherit;">
                                <p>{{ parent }}</p>
                            </a>
                        {% endfor %}
                    </div>
                    <a class="item">
                        <i class="phone icon"></i>
                        <div class="content edit string" data-name="phone">
                            <div class="header">Номер телефона</div>
                            <div class="description">{{ student.phone|check }}</div>
                        </div>
                    </a>
                    <a class="item">
                        <i class="building icon"></i>
                        <div class="content edit string" data-name="address">
                            <div class="header">Адрес</div>
                            <div class="description">{{ student.address|check }}</div>
                        </div>
                    </a>
                </div>

            </div>
        </form>
    </div>
    {% include 'snippets/chart.html' with id=1 url='/chart/attendingStats/' student_id=student.id unit='months' label='Статистика посещений' %}
{% endblock %}
