{% extends 'base.html' %}

{% block title %}Занятие{% endblock %}
{% block header_name %}
    <div class="ui breadcrumb" style="margin: 0 0 20px 20px">
        <a class="section" href="{% url 'main'%}">Объеденения</a>
        <div class="divider"> /</div>
        <a class="section" href="{% url 'union' session.group.union.id %}">{{ session.group.union.name }}</a>
        <div class="divider"> /</div>
        <a class="section" href="{% url 'union' session.group.union.id %}">Группы</a>
        <div class="divider"> /</div>
        <a class="section">{{ session.group.name }}</a>
        <div class="divider"> /</div>
        <a class="section">Занятия</a>
        <div class="divider"> /</div>
        <div class="active section">{{ session }}</div>
    </div>
{% endblock %}
{% block content %}
    <div class="basic_info_block block big_block shadow">
        <div class="header_block" style="background: #3498DB">
            <h3>Ученики</h3>
        </div>
        <div class="content_block" style="overflow: auto; height: 270px;">
            <table class="table_students" id="customers">
                <tr>
                    <td>№</td>
                    <td>ФИО</td>
                    <td>Присуствовал(-а)</td>
                </tr>
                {% for attending in session.attending_set.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'student' attending.student.id %}">{{ attending.student }}</a></td>
                        <td>
                            <div class="ui checkbox">
                                <input type="checkbox" name="{{ attending.id }}" value="" class="attending-checkbox" {% if attending.isAttend %}checked{% endif %}>
                                <label></label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>

    </div>

    <div class="session_info_block block shadow">
        <div class="header_block">
            <h3>Инфо</h3>
        </div>
        <div class="content_block">
            <div class="session_info_content">
                <ul class="info_list" id="info" style="width: 100%;">
                    <li>Преподаватель - <a
                            href="{% url 'user' session.group.teacher.id %}">{{ session.group.teacher }}</a></li>

                    <li>Дата - {{ session.date.date }}</li>

                    <li>Время - {{ session.date.time }}</li>

                    <li>Статус - {% if session.cancel_reason %}Отмененно: {{ session.cancel_reason }}{% else %}
                        Проведено{% endif %}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
